/**
 * Element styles (No font-family)
 **/
body{color: #333;background: url("../img/gradient.png") repeat-x top left #fff;}

.menu a{text-decoration: none; font-size: 16px; margin-right: 5px;}
.menu a:hover{text-decoration: underline;}
.menu.horizontal{list-style: none; margin: 0; color: #6d6e71; padding: 10px 0 0 0; clear: right;}
.menu.horizontal li{display: inline-block; margin: 0 6px 16px 0; padding: 0; float: left;}
.ie .menu.horizontal li{display: block; float: left; margin-right: 6px;}
.menu.horizontal li:after{margin-left: 1px;}
.menu.horizontal .last:after {content: none !important;}

.menu.nav-tabs, .menu.nav-pills { margin-left: 0; }
ul.dropdown-menu li { width: 100%; margin-bottom: 0 !important; }
ul.dropdown-menu li:after{ content: none !important; }
ul.dropdown-menu li a { margin-right: 0; white-space: pre-wrap; }

.menu.horizontal .dropdown-menu { margin-top: 3px; }
.menu.horizontal .dropdown.open .dropdown-toggle { background: none; color: #0088CC; }

.page-content { clear: both; }

.search-form label{display: none;}
.search-form .search-field{width:50px;}
.search-form .search-submit{display: none;}

.slideshow{overflow: hidden; margin: 0 0 1em 0;}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {color:#333;}

/**
 * Form styles
 **/
input,
textarea{padding: 4px; color: #333; border: 1px solid #ccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.msie input,
.msie textarea{padding: 4px 3px 4px 3px;}
.firefox input,
.firefox textarea{padding: 5px;}


/**
 * Location specific styles
 **/
#search-results .more{clear: both;}
#search-results .result-list{padding: 0; margin: 0;}
#search-results .result-list li{list-style-type: none; word-wrap: break-word;}
#search-results .result-list .item{margin: 0 0 2em 0;}
#search-results .result-list .item h3{margin: 0 0 5px 0;}
#search-results .result-list .item a{text-decoration: none;}
#search-results .result-list .item a:hover{color: #000; text-decoration: underline;}
#search-results .result-list .item .title{display: block; font-size: 18px; color: #c00202;}
#search-results .result-list .item .url{display: block; font-size: 14px; color: #666; margin: 0 0 5px 0;}
#search-results .result-list .item .snippet{font-size: 14px;}
#search-results .search-form{margin-bottom: 2em;}
#post-list article {margin: 0 0 2em 0; font-size: 16px;}
#post-list article h1{margin: 0 0 .5em 0;}
#post-list article .meta{margin: 0 0 .5em 0; color: #666;}
#post-list article .summary{margin: 0; line-height: 1.5em;}
#blueprint-container{padding-top: 24px;}
#header h1{font-size: 32px;}
#header h1 a{text-decoration: none; color: #313130; font-weight: bold;}
#header h1 a:hover{color: #ed1c24; text-decoration: underline;}
#header{border-bottom: 1px dotted #666; padding-bottom: 8px;}
#header-menu{margin-bottom: 16px;}
#sidebar h2{margin: .5em 0 1em 0; font-size: 17px; color: #A3B00B;}
#footer{border-top: 1px dotted #666; padding-top: 0px; margin: 20px 0 20px 0;}
#footer-menu { clear: right; }
#footer .row { clear: both; padding-top: 5px; }

/**
 * Tech Transfer Specific styles
 **/
a{color: #000; font-weight: bold;}
a:hover{color: #000;}
table tr th{text-align: left; padding-right: 40px;}
table tr td{border-top-style: solid; border-top-width: 1px;}

.box{-moz-box-shadow: 1px 2px 8px rgba(0, 0, 0, .2); -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, .2); box-shadow: 1px 2px 8px rgba(0, 0, 0, .2); }

.page-content h1{font-weight: normal;}
.page-content h1{font-weight: normal;}
.page-content h1{font-weight: normal;}
.page-content h1{font-weight: normal;}

/**
 * Header
 **/
#header span{padding-top: 30px; text-align: right;}
#tt-header-links a{font-size: 14px; margin-left: 25px;}
#tt-header-links a:hover{text-decoration: underline;}

#home{margin-top: 20px}
#tt-header-description{font-size: 24px; font-family: "Times", "Helvetica Neue", "Helvetica", "Arial", "sans-serif"; font-style: italic; line-height: 1.25em; color: #274245;}

#below-the-home-header{margin-top: 20px; }
#below-the-home-header h2{font-size: 16px; line-height: 10px; font-weight: normal;}
#below-the-home-header p{font-size: 12px; line-height: 14px;}
#below-the-home-header .textwidget{font-size: 12px; line-height: 14px;}

#header-search {padding-top: 20px;}
.search-form {margin: 0;}
#s {background: white url('../img/search.gif') no-repeat 98% 50%;}
.content-title {font-weight: normal;}
@media (max-width: 767px) {
	#for-industry-button {float: left; width: 50%;}
	#for-researchers-button {float: left; width: 50%;}
}

/**
 * Resources Above the Footer
 */
#below-the-content {margin-top: 10px; margin-bottom: 10px; border-top: 1px dotted #666;}
#resource-header {font-weight: normal;}
.resource-row{margin-top: 10px;}
.resource-box{background: #ffffcc;}
.resource-box a:hover {text-decoration: none;}
.resource-none{height: 0;}
.resource{padding: 25px 20px;}
.featured-text h4{margin: 0; padding: 0;}
.featured-text p{margin: 0; padding: 0; font-size: 12px; line-height: 14px}
.featured-text{padding-left: 65px;}
.featured-image{float: left;}

@media (max-width: 979px) {
	.resource {
		padding: 25px 5px;
	}

	.featured-text {
		padding-left: 55px;
	}
}

@media (max-width: 767px) {
	.resource-box {
		margin-top: 10px;
	}

	.resource-row {
		margin-top: 0;
	}

	.resource {
		padding: 25px 20px;
	}

	.featured-text {
		padding-left: 65px;
	}
}

/**
 * Document Search
 **/
.document-list ul {list-style-type: none;}
.document-list ul li {}
.document-list ul li.pdf {list-style-image: url('../img/documents-pdf.png');}
.document-list ul li.word {list-style-image: url('../img/documents-word.png');}
.document-list ul li.document {list-style-image: url('../img/documents-doc.png');}
.document-list ul li.zip {list-style-image: url('../img/documents-zip.png');}
.document-list ul li.excel {list-style-image: url('../img/documents-excel.png');}
.document-list ul li.powerpoint {list-style-image: url('../img/documents-ppt.png');}
.document-list ul li.html {list-style-image: url('../img/documents-html.png');}

/**
 * Featured Docs
 **/
#above-featured-docs {margin-top: 20px; margin-bottom: 10px; border-top: 1px dotted #666;}
.featured-docs {list-style: none;}
.featured-doc {padding-left: 24px; margin-top: 10px;}
.featured-doc a {text-decoration: underline;}
.featured-doc.pdf {background: url('../img/documents-pdf.png') no-repeat;}
.featured-doc.word {background: url('../img/documents-word.png') no-repeat;}
.featured-doc.document {background: url('../img/documents-doc.png') no-repeat;}
.featured-doc.zip {background: url('../img/documents-zip.png') no-repeat;}
.featured-doc.excel {background: url('../img/documents-excel.png') no-repeat;}
.featured-doc.powerpoint {background: url('../img/documents-ppt.png') no-repeat;}
.featured-doc.html {background: url('../img/documents-html.png') no-repeat;}

/**
 * Footer
 **/
#tt-footer-maintained {font-size: 12px;}

.menu-item a {font-size: 14px;}

/**
 * About
 **/
.tt-about-title{clear: both;}
#about-nav ul li a i{float: right;}